.card {
  margin: 2rem 10%;
  padding: 10px 3rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.text {
  display: inline;
  font-size: 2.5rem;
  font-style: italic;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding-left: 2rem;
  padding-right: 25px;
}

.byLine {
  width: 60%;
  margin: 0 auto;
  margin-top: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.author {
  margin-top: 0.5rem;
  margin-left: 0 1rem;
  font-size: 1.5rem;
  font-style: italic;
}

.date {
  margin-top: 0.5rem;
  font-style: italic;
}

.proverbFootWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.endLine {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  border: 1px solid rgb(241, 241, 241, 0);
}

.endLine:hover {
  opacity: 0.85;
  box-shadow: 0px 15px 20px rgba(226, 226, 226, 0.4);
  border: 1px solid rgb(202, 202, 202);
  transform: translateY(-3px);
}

.endLine span::after {
  display: inline;
  font-size: 1.5rem;
  content: ' >';
}
