.proverb {
  margin: 3rem 10%;
  padding: 10px 3rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.text {
  display: inline;
  font-size: 2.5rem;
  font-style: italic;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding-left: 2rem;
  padding-right: 25px;
}

.byLine {
  width: 60%;
  margin: 0 auto;
  margin-top: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.author {
  margin-top: 0.5rem;
  margin-left: 0 1rem;
  font-size: 1.5rem;
  font-style: italic;
}

.date {
  margin-top: 0.5rem;
  font-style: italic;
}

.proverbFootWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
